<a href="https://colab.research.google.com/github/kjxeez/Funnel-analysis/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('data.csv')

In [11]:
df['date'] = pd.to_datetime(df['date'])
df

          date  clients  accounts  applications  games
0   2022-12-28       25       8.0           1.0    NaN
1   2022-09-23       25       7.0           5.0    NaN
2   2023-01-29       25       6.0           1.0    1.0
3   2022-11-26       26       4.0           1.0    2.0
4   2022-11-10       19      11.0           6.0    3.0
..         ...      ...       ...           ...    ...
150 2022-12-10       25       6.0           5.0    NaN
151 2022-10-07       25       8.0           2.0    NaN
152 2022-09-05       17      11.0           1.0    NaN
153 2022-09-21       23       6.0           1.0    NaN
154 2022-12-26       25       6.0           4.0    2.0

[155 rows x 5 columns]

In [14]:
df['month'] = df['date'].dt.month
df

          date  clients  accounts  applications  games  month
0   2022-12-28       25       8.0           1.0    NaN     12
1   2022-09-23       25       7.0           5.0    NaN      9
2   2023-01-29       25       6.0           1.0    1.0      1
3   2022-11-26       26       4.0           1.0    2.0     11
4   2022-11-10       19      11.0           6.0    3.0     11
..         ...      ...       ...           ...    ...    ...
150 2022-12-10       25       6.0           5.0    NaN     12
151 2022-10-07       25       8.0           2.0    NaN     10
152 2022-09-05       17      11.0           1.0    NaN      9
153 2022-09-21       23       6.0           1.0    NaN      9
154 2022-12-26       25       6.0           4.0    2.0     12

[155 rows x 6 columns]

In [23]:
df.groupby('month').agg({'clients': 'sum', 'accounts':'sum', 'applications':'sum', 'games':'sum'})

       clients  accounts  applications  games
month
1          852     215.0         133.0   63.0
2           32       9.0           3.0    3.0
9          778     186.0          63.0    2.0
10         843     219.0         109.0   21.0
11         786     195.0         107.0   43.0
12         805     200.0          97.0   47.0