<a href="https://colab.research.google.com/github/kjxeez/Funnel-analysis/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
!pip install dash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dash
  Downloading dash-2.9.1-py3-none-any.whl (10.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.2/10.2 MB 39.8 MB/s eta 0:00:00
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.9/dist-packages (from dash) (5.13.1)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.9/dist-packages (from dash) (2.2.3)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash) (8.1.3)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash) (2.2.3)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash) (3.1.2)
Requirement already satisfied: importlib-metadata>=3.6.0 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash) (6.1.0)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash) (2.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly>=5.0.0->dash) (8.2.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=3.6.0->Flask>=1.0.4->dash) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from Jinja2>=3.0->Flask>=1.0.4->dash) (2.1.2)
Installing collected packages: dash-table, dash-html-components, dash-core-components, dash
Successfully installed dash-2.9.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0

In [3]:
import dash
import dash_core_components as dcc
import dash_html_components as html

<ipython-input-3-bbc1afbeb5a8>:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
<ipython-input-3-bbc1afbeb5a8>:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df['date'] = pd.to_datetime(df['date'])
df

          date  clients  accounts  applications  games
0   2022-12-28       25       8.0           1.0    NaN
1   2022-09-23       25       7.0           5.0    NaN
2   2023-01-29       25       6.0           1.0    1.0
3   2022-11-26       26       4.0           1.0    2.0
4   2022-11-10       19      11.0           6.0    3.0
..         ...      ...       ...           ...    ...
150 2022-12-10       25       6.0           5.0    NaN
151 2022-10-07       25       8.0           2.0    NaN
152 2022-09-05       17      11.0           1.0    NaN
153 2022-09-21       23       6.0           1.0    NaN
154 2022-12-26       25       6.0           4.0    2.0

[155 rows x 5 columns]

In [6]:
df['month'] = df['date'].dt.month

In [16]:
df['week'] = df['date'].dt.week

<ipython-input-16-f4f191163118>:1: FutureWarning:

Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.

In [18]:
df1=df.groupby('month').agg({'clients': 'sum', 'accounts':'sum', 'applications':'sum', 'games':'sum'})
df1

       clients  accounts  applications  games
month
1          852     215.0         133.0   63.0
2           32       9.0           3.0    3.0
9          778     186.0          63.0    2.0
10         843     219.0         109.0   21.0
11         786     195.0         107.0   43.0
12         805     200.0          97.0   47.0

In [19]:
df2=df.groupby('week').agg({'clients': 'sum', 'accounts':'sum', 'applications':'sum', 'games':'sum'})
df2

      clients  accounts  applications  games
week
1         201      55.0          24.0   16.0
2         205      54.0          23.0    8.0
3         181      42.0          40.0   15.0
4         182      40.0          33.0   17.0
5          81      26.0          11.0    9.0
35        111      22.0           0.0    0.0
36        184      38.0           7.0    0.0
37        167      42.0          17.0    1.0
38        181      46.0          24.0    1.0
39        195      56.0          18.0    1.0
40        204      59.0          33.0    5.0
41        190      46.0          28.0    3.0
42        171      42.0          24.0    5.0
43        189      48.0          18.0    7.0
44        197      46.0          25.0    8.0
45        173      43.0          30.0   10.0
46        179      36.0          25.0    7.0
47        180      52.0          19.0   14.0
48        177      45.0          22.0   10.0
49        168      44.0          20.0   13.0
50        196      52.0          19.0   11.0
51        192      46.0          28.0    7.0
52        192      44.0          24.0   11.0

In [74]:
from plotly import graph_objects as go

In [75]:
# создаем воронку для первой таблицы
funnel_data = pd.DataFrame({'labels': ['Visits', 'Registrations', 'Applications', 'Games'],
'values': [df1['clients'].sum(), df1['accounts'].sum(),
df1['applications'].sum(), df1['games'].sum()]})

# добавляем столбцы с долей каждого этапа и его накопленной долей
funnel_data['cumulative_values'] = funnel_data['values'].cumsum()
funnel_data['stage_perc'] = round(funnel_data['values'] / funnel_data['values'][0] * 100, 2)
funnel_data['cumulative_perc'] = round(funnel_data['cumulative_values'] / funnel_data['values'].sum() * 100, 2)

In [76]:
# создаем воронку для второй таблицы
funnel_data2 = pd.DataFrame({'labels': ['Visits', 'Registrations', 'Applications', 'Purchases'],
'values': [df2['clients'].sum(), df2['accounts'].sum(),
df2['applications'].sum(), df2['games'].sum()]})

# добавляем столбцы с долей каждого этапа и его накопленной долей
funnel_data2['cumulative_values'] = funnel_data2['values'].cumsum()
funnel_data2['stage_perc'] = round(funnel_data2['values'] / funnel_data2['values'][0] * 100, 2)
funnel_data2['cumulative_perc'] = round(funnel_data2['cumulative_values'] / funnel_data2['values'].sum() * 100, 2)